body
{
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo(1).jpeg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Cabin, Verdana, sans-serif;
}
.top
{
    color: white;
    font-size: 2.5rem;
    text-shadow: 3px 2px 4px black;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#about
{
    background-color: white;
    font-size: 1.5rem;
    color: grey;
    padding-right: 1em;
    padding-left: 1em;
    flex-direction: column;
    justify-content: center;
}
#about h1
{
    font-size: 3rem;
    color: darkslategrey;
    font-weight: bold;
}
#about article
{
    display: flex;
}
#about img
{
    height: 360px;
    width: 360px;
    border-radius: 1em;
    margin-top: 2em;
}
#about div
{
    text-align: right;
}
#projects
{
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}
#projects h1
{
    color: white;
    font-size: 3rem;
    text-shadow: 3px 2px 4px black;
}
#projects a
{
    text-decoration: none;
    color: darkslategrey;
}
#projects p
{
    color: grey;
}
#projects article
{
    display: flex;
    border: 1px dashed black;
    border-radius: 5px;
    margin: 2em;
}
#projects article img
{
    max-height: 169px;
}
#projects article div
{ 
    margin: 1em;
}
.box
{
	margin: auto;
}
.box article
{
    background-color: white;
}
#servicios
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}
#servicios h1
{
    font-size: 3rem;
    align-self: flex-start;
    color: darkslategrey;
}
#servicios div
{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin: auto;
}
#servicios div article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}
.icono
{
    height: 50px;
}

header
{
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}
header nav
{
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a
{
    padding: 0.5rem;
}
nav a:hover
{
    color: darkslategrey;
    background-color: white;
    border-radius: 2rem;
}
main em, main strong
{
    color: darkslategrey;
}
section
{
	display: flex;
    min-height: 100vh;
    height: 100%;
}
footer
{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: darkslategrey;
    padding: 16px;
}
a
{
    color: white;
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
}

/* BACKGROUNDS */
.white
{
    background-color: white;
}
.transparent
{
    background-color: rgba(0,0,0,0.7);
}